* {
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    background-color: #548687;
    text-align: center;
}

.container{
    height: 70vh;  
    display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     gap: 1vmin;
}

.game{
     height: 60vmin;
     width: 60vmin;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    background-color: beige;
}

#reset-btn, #new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 1rem;
}

#msg {
    color: beige;
    font-size: 5vmin;
}

.msg-container{
    height: 100vmin; 
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}